name: tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        # os: ['ubuntu-latest', 'macos-latest']
        os: ["ubuntu-latest"]
        python-version: [3.6, 3.7]

    steps:
      - uses: actions/checkout@v2
      - name: Install Python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          auto-activate-base: false
          activate-environment: test
          environment-file: env/test_environment.yml
          python-version: ${{ matrix.python-version }}
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2020-06-26
          default: true
      - name: Test libcrystal
        run: |
          cargo test --package=libcrystal --no-default-features
      - name: Test python side
        shell: bash -l {0}
        run: |
          maturin build -i $(which python) --release --no-sdist --strip
          pip install -U target/wheels/crystallus-*.whl
          pytest --benchmark-skip
      - name: Persist python wheel
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: wheels
          path: target/wheels/
      # - name: Publish to PyPi
      #   on:
      #     release:
      #       types: [published]
      #   env:
      #     MATURIN_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      #   run: |
      #     maturin publish --manylinux=off -u=tsumina
    env:
      RUST_BACKTRACE: 1
